$footer: transparent;
$footer_text: rgba(255,255,255,0.54);

:root {
    --nav-height: 70px;
}

body {
	margin-top: var(--nav-height);
	min-height: calc(100vh - var(--nav-height));
	display: flex;
	flex-direction: column;
  }
  
@media screen and (max-width: 1200px) { /* Match max-width of .nav-bar query. */
	:root {
		--nav-height: 50px; /* Offset body content by navbar height. */
	}
}

.anchor {
	text-decoration: none;
	vertical-align: middle;
	margin-left: .5rem;
	padding-bottom: .3rem;
	color: #009e87;
	font-size: 1.5rem;
	transition: color .16s linear;
	visibility: hidden;
}

.anchor:hover {
	color: #00d1b2;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor,
h7:hover .anchor,
h8:hover .anchor,
h9:hover .anchor {
	visibility: visible;
}

.navbar {
    height: var(--nav-height);
}

.site-footer,
footer a.back-to-top i {
	color: $footer_text;
}

.site-footer {
	margin-top: 2rem;
	padding-top: 3rem;
}

.media.author {
	align-items: center;
}

.media.author i {
	font-size: 1.5rem;
}

.media.author .ml-3 {
	padding-left: 0;
	padding-right: 1rem;
}

.media .avatar {
	max-width: 180px !important;
	margin-right: 2rem !important;
}

.author.card-title a {
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
}

.author.card-title a:hover {
	color: #0088cc;
}

.spacer.container {
	flex-grow: 1;
}
