{{- define "main" -}}
{{/* Notify JS that this is a widget page */}}
<span class="js-widget-page d-none"></span>

{{ $page := . }}
{{ $widgets := $page.Params.widgets }}
{{ range $widget := $widgets }}
  {{ $style := "" }}
  {{ with $widget.background }}
    {{ $style = printf "background-color: %s;" (. | default "transparent") }}
  {{ end }}

  <section id="{{ $widget.name }}" class="home-section {{printf "wg-%s" ($widget.name | anchorize) }}" {{with $style}}style="{{. | safeCSS}}"{{end}}>
    {{ $path := printf "widgets/%s" $widget.name }}
    <div class="container">
        {{ partial $path (dict "page" $page "widget" $widget) }}
    </div>
  </section>
{{ end }}
{{- end -}}
